*{margin: 0; padding: 0;}

body{font-family:'Lobster', cursive;
background: lightgreen; }


nav{text-align: center;
    font-size: 40px;
    background:paleturquoise;
}

.grid-gallery 
{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: 1rem;
   

}

@media only screen and (max-width: 600px) {
    .grid-gallery {
        grid-template-columns: 1fr;
        
    }
    
}


.grid-item
{
    object-fit: cover;
    width: 40vmin;
    height: 40vmin;
}

